@using ZBuildLights.Core.Models
@using ZBuildLights.Web.Extensions
@model ZBuildLights.Web.Models.Home.ViewModel

@{
    ViewBag.Title = "Home Page";

    var projects = Model.Projects;
}

@{ var isFirstProject = true; }
@foreach (Project project in projects)
{
    if (isFirstProject)
    {
        isFirstProject = false;
    }
    else
    {
        <hr/>
    }
    <div class="row"><h4>@project.Name <span class="small">(@project.StatusMode.DisplayName)</span></h4></div>
    for (int groupIndex = 0; groupIndex < project.Groups.Length; groupIndex++)
    {
        var isEvenGroup = groupIndex%2 == 0;
        var isOddGroup = !isEvenGroup;
        var isLastGroup = groupIndex == project.Groups.Length - 1;
        var group = project.Groups[groupIndex];
        if (isEvenGroup)
        {
            @Html.Raw("<div class=\"row\">")
        }
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr><td class="lead">@group.Name</td></tr>
                </thead>
                <tbody>
                    @foreach (var light in group.Lights)
                    {
                        <tr>
                            <td class="@light.DisplayClass()">@light.Color</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        if (isOddGroup || isLastGroup)
        {
            @Html.Raw("</div>")
        }
    }
}
<div class="clearfix"></div>