@using ZBuildLights.Core.Extensions
@model ZBuildLights.Web.Models.Admin.EditProjectMasterViewModel

@{
    ViewBag.Title = "ZBuildLights Edit Project";
    var project = Model.Project;
}

@section scripts {
    @Scripts.Render("~/bundles/admin")
    <script>
        @Html.Partial("_AdminUrls")
        @Html.Partial("_AdminConstants")

        ZBuildLights.createNamespace('Admin.EditProject');
        ZBuildLights.Admin.EditProject.cruiseServers = @Html.Raw(Model.CruiseServerJson);
    </script>
    <script type="text/html" id="edit-project-empty-project-select">
        <option value="@Guid.Empty">Select Project...</option>
    </script>
    <script type="text/html" id="edit-project-server-select">
        <div class="row cruise-select-row">
            <div class="col-lg-6">
                <select class="form-control cruise-server-select">
                    <option value="@Guid.Empty">Select Server...</option>
                    @foreach (var server in Model.CruiseServers)
                    {
                        <option value="@server.Id">@server.Name</option>
                    }
                </select>
            </div>
            <div class="col-lg-6">
                <select class="form-control cruise-project-select" disabled="true">
                    <option value="@Guid.Empty">Select Project...</option>
                </select>
            </div>
        </div>
    </script>

}

@if (Model.ShowErrorMessage)
{
    <div class="alert alert-dismissible alert-danger" style="margin-top: 20px">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Error!</h4>
        <p>@Model.ErrorMessage</p>
    </div>
}
<div class="row">
    <h2>@Model.HeaderText</h2>
</div>
<br/>
<div class="row">
    <form role="form" class="form-horizontal" action="@Url.Action("EditProject")" method="POST">
        <div class="well">
            <input type="hidden" id="edit-project-id" value="@project.Id" name="ProjectId"/>
            <fieldset>
                <div class="form-group">
                    <label for="edit-project-name-input" class="col-lg-2">Project Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="project-name-input" value="@project.Name" name="Name"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="edit-project-name-input">Associated Cruise Control Projects</label>
                    </div>
                    <div class="col-lg-10" id="edit-project-cruise-projects" style="margin-bottom: 15px; display: none">
                        @for (var projectIndex = 0; projectIndex < Model.Project.CruiseProjectAssociations.Length; projectIndex++)
                        {
                            var cruiseProject = Model.Project.CruiseProjectAssociations[projectIndex];
                            var serverDefinition = Model.CruiseServers.FirstOrDefault(x => x.Id.Equals(cruiseProject.ServerId));
                            if (serverDefinition == null) {continue;}
                            <div class="row cruise-select-row">
                                <div class="col-lg-6">
                                    <select class="form-control cruise-server-select" name="@string.Format("cruiseProject[{0}].Server", projectIndex)">
                                        <option value="@Guid.Empty">Please Select Server...</option>
                                        @foreach (var server in Model.CruiseServers)
                                        {
                                            var selected = cruiseProject.ServerId.Equals(server.Id) ? "selected" : string.Empty;

                                            <option @selected value="@server.Id">@server.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <select class="form-control cruise-project-select">
                                        @{ var selectEmpty = serverDefinition.Projects.None(x => x.Name.Equals(cruiseProject.Name)) ? "selected" : string.Empty;}
                                        <option @selectEmpty value="@Guid.Empty">Select Project...</option>
                                        @foreach (var projectSelection in serverDefinition.ProjectsByProjectAndName)
                                        {
                                            var selected = projectSelection.Name.Equals(cruiseProject.Name) ? "selected" : string.Empty;
                                            <option @selected value="@projectSelection.Name">@projectSelection.ProjectAndName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-lg-10" id="edit-project-add-cruise-btn-container">
                        <div class="text-right">
                            <button class="btn btn-primary" id="edit-project-btn-add-cruise-project" type="button"><i class="fa fa-plus"></i> Add Cruise Project</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="text-right">
            <a class="btn btn-default" style="margin-right: 5px" href="@Url.Action("Index")"><i class="fa fa-times"></i> Cancel</a>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check"></i>
                Save
                <span class="wait-spinner" style="margin-left: 5px; margin-right: -5px; display: none"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
        </div>
    </form>
    @if (Model.ShowDelete)
    {
        <hr/>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Danger Zone</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-9" style="padding-top: 10px">
                        <p>
                            Permanently delete this project... <a target="_blank" href="https://www.youtube.com/watch?v=H-Q7b-vHY3Q">For-ev-er!</a>
                        </p>
                    </div>
                    <div class="col-lg-3 text-right">
                        <a href="javascript:void(0)" class="btn btn-danger delete-project-link">Delete Project</a>
                    </div>
                </div>
                <div style="display: none;" class="well delete-project-confirm">
                    <button class="btn btn-primary btn-block delete-project-reject-button">Noooooooooo.... Don't Delete</button>
                    <div style="padding-top: 10px" class="text-right">
                        <form action="@Url.Action("DeleteProject")" method="POST">
                            <input type="hidden" name="projectId" value="@Model.Project.Id"/>
                            <button href="javascript:void(0)" class="btn btn-danger" type="submit">
                                Yes, Delete Forever
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>