@using ZBuildLights.Web.Extensions
@using ZBuildLights.Web.Models.Admin
@model ZBuildLights.Web.Models.Admin.AdminViewModel

@{
    ViewBag.Title = "ZBuildLights Admin";
    var projects = Model.Projects;
    var unassigned = Model.Unassigned;
}

@section scripts {
    @Scripts.Render("~/bundles/admin")
    <script>
        @Html.Partial("_AdminUrls")
        @Html.Partial("_AdminConstants")
    </script>
}

<div class="row" id="alert-container">
</div>
<div class="row">
    <h2>Admin</h2>
    <p class="lead">Modify existing projects or add new lights</p>
</div>
<div class="row">
    @if (Model.NoProjects)
    {
        <h4>No Projects Added</h4>
    }
    <div class="panel-group" id="projects-panel" role="tablist" aria-multiselectable="true">
        @foreach (var project in projects)
        {
            <div class="panel panel-default admin-project-panel" data-projectId="@project.Id" data-projectName="@project.Name">
                <div class="panel-heading" role="tab" id="@project.HeaderId">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <a data-toggle="collapse"
                                   data-parent="projects-panel"
                                   href="@project.PanelId.ToJqueryId()"
                                   aria-expanded="true"
                                   aria-controls="@project.PanelId"
                                   class="collapsed">
                                    <i class="fa fa-minus-circle heading-icon"></i> <span class="project-name">@project.Name</span>
                                </a>
                            </h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("EditProject", new {ProjectId = project.Id})"><button class="btn btn-default" data-projectid="@project.Id"><i class="fa fa-pencil"></i></button></a>
                        </div>
                    </div>
                </div>
                <div id="@project.PanelId" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@project.HeaderId" data-panelheading="@project.HeaderId">
                    <div class="panel-body">
                        @foreach (var group in project.Groups)
                        {
                            Html.RenderPartial("LightGroup", new {Group = group, showTitle = true});
                        }
                        <div class="row text-right" style="padding-right: 15px;">
                            <button class="btn btn-default add-group-button" data-projectId="@project.Id"><i class="fa fa-plus"></i> Add Group</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row text-right" style="padding-bottom: 15px; padding-top: 15px; margin-right: 15px;">
            <a class="btn btn-default" href="@Url.Action("EditProject")"><i class="fa fa-plus"></i> Add Project</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="panel-heading-unassigned">
                <div class="row">
                    <div class="col-md-12">
                        <h4>
                            <a data-toggle="collapse"
                               data-parent="projects-panel"
                               href="#collapse-unassigned"
                               aria-expanded="true"
                               aria-controls="collapse-unassigned"
                               class="collapsed">
                                <i class="fa fa-minus-circle heading-icon"></i> @unassigned.Name
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
            <div id="collapse-unassigned" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-unassigned" data-panelheading="panel-heading-unassigned">
                <div class="panel-body">
                    @Html.Partial("LightGroup", new {Group = unassigned, showTitle = false})
                </div>
            </div>
        </div>
    </div>
</div>

@section modals {
    <!-- Add Group Modal -->
    <div class="modal fade" id="add-group-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add New Group</h4>
                    <p class="project-name">Your Project Name Here</p>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="group-name-input">Group Name</label>
                            <input type="text" class="form-control" id="group-name-input" placeholder="My Awesome Group" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <h3 class="wait-spinner" style="position: absolute; bottom: 10px; display: none"><i class="fa fa-spinner fa-spin"></i></h3>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                    <button id="save-new-group" type="button" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Edit Group Modal -->
    <div class="modal fade" id="edit-group-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Group</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <input type="hidden" id="edit-group-id" />
                        <div class="form-group">
                            <label for="edit-group-name-input">Group Name</label>
                            <input type="text" class="form-control" id="edit-group-name-input" placeholder="My Awesome Group" />
                        </div>
                    </form>
                    <div><a href="javascript:void(0)" class="delete-group-link"><p class="text-danger text-right">Delete Group</p></a></div>
                    <div style="display: none;" class="well delete-group-confirm">
                        <button class="btn btn-primary btn-block delete-group-reject-button">Noooooooooo.... Don't Delete</button>
                        <div style="padding-top: 10px" class="text-right">
                            <a href="javascript:void(0)" class="delete-confirm-link"><p class="text-danger">Yes, Delete Forever</p></a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <h3 class="wait-spinner" style="position: absolute; bottom: 10px; display: none"><i class="fa fa-spinner fa-spin"></i></h3>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                    <button id="save-edit-group" type="button" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->    
    <!-- Edit Light Modal -->
    <div class="modal fade" id="edit-light-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit light</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <input type="hidden" id="edit-light-homeid"/>
                        <input type="hidden" id="edit-light-deviceid"/>
                        <input type="hidden" id="edit-light-valueid"/>
                        <div class="form-group">
                            <label for="select-light-group" class="control-label">Group</label>
                            <select class="form-control" id="select-light-group">
                                <option value="@Guid.Empty">Unassigned</option>
                                @foreach (var group in Model.AllGroups)
                                {
                                    <option value="@group.Id">@group.FullName</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="select-light-color" class="control-label">Color</label>

                            <select class="form-control" id="select-light-color">
                                @foreach (var color in LightColorOption.GetAll())
                                {
                                    <option value="@color.Id" class="@color.CssClass" data-optioncss="@color.CssClass">@color.Text</option>
                                }
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <h3 class="wait-spinner" style="position: absolute; bottom: 10px; display: none"><i class="fa fa-spinner fa-spin"></i></h3>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                    <button id="save-light" type="button" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

@section templates {
    <script type="text/html" id="alert-template">
        <div class="alert alert-dismissable alert-danger" data-purpose="error-alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span data-purpose="error-message"></span>
        </div>
    </script>
}