@using BuildLightControl
@using ZBuildLights.Web.Extensions
@model dynamic

@{
    ViewBag.Title = "ZBuildLights Admin";
}

@section scripts {
    <script>
        $(function () {
            //Expand / Collapse
            $('.collapse').on('show.bs.collapse', function() {
                var headingId = $(this).attr('data-panelheading');
                $('#' + headingId + ' .heading-icon').removeClass('fa-plus-circle').addClass('fa-minus-circle');
            });
            $('.collapse').on('hide.bs.collapse', function() {
                var headingId = $(this).attr('data-panelheading');
                $('#' + headingId + ' .heading-icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
            });

            //New Project Modal
            $('#save-new-project').click(function() {
                $('#add-project-modal .wait-spinner').show();
                //Replace with the work to POST a new project, then reload the page on success
                setTimeout(function () {
                    location.reload();
                }, 3000);
            });
        });
    </script>
    
    <div class="modal fade" id="add-project-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add New Project</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="project-name-input">Project Name</label>
                            <input type="text" class="form-control" id="project-name-input" placeholder="My Awesome Project"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <h3 class="wait-spinner" style="position: absolute; bottom: 10px; display: none"><i class="fa fa-spinner fa-spin"></i></h3>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                    <button id="save-new-project" type="button" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->        
}
<div class="row">
    <h2>Admin</h2>
    <p class="lead">Modify existing projects or add new lights</p>
</div>
<div class="row">
    <div class="panel-group" id="projects-panel" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="panel-heading-core">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <a data-toggle="collapse"
                               data-parent="projects-panel"
                               href="#collapse-core"
                               aria-expanded="true"
                               aria-controls="collapse-core"
                               class="collapsed">
                                <i class="fa fa-plus-circle heading-icon"></i> Core
                            </a>
                        </h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-default"><i class="fa fa-pencil"></i></button>
                    </div>
                </div>
            </div>
            <div id="collapse-core" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel-heading-core" data-panelheading="panel-heading-core">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td colspan="2" class="lead">Snp Square</td>
                                <td class="lead text-right"><button class="btn btn-default"><i class="fa fa-pencil"></i></button></td>
                            </tr>
                            <tr>
                                <th>Color</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="@LightColor.Green.DisplayClass()">Green</td>
                                <td><a href="javascript:void(0)">Toggle Status (On)</a></td>
                                <td><a href="javascript:void(0)">Edit</a></td>
                            </tr>
                            <tr>
                                <td class="@LightColor.Yellow.DisplayClass()">Yellow</td>
                                <td><a href="javascript:void(0)">Toggle Status (On)</a></td>
                                <td><a href="javascript:void(0)">Edit</a></td>
                            </tr>
                            <tr>
                                <td class="@LightColor.Red.DisplayClass()">Red</td>
                                <td><a href="javascript:void(0)">Toggle Status (On)</a></td>
                                <td><a href="javascript:void(0)">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td colspan="2" class="lead">Snp Near Matt</td>
                                <td class="lead text-right"><button class="btn btn-default"><i class="fa fa-pencil"></i></button></td>
                            </tr>
                            <tr>
                                <th>Color</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="@LightColor.Green.DisplayClass()">Green</td>
                                <td><a href="javascript:void(0)">Toggle Status (On)</a></td>
                                <td><a href="javascript:void(0)">Edit</a></td>
                            </tr>
                            <tr>
                                <td class="@LightColor.Yellow.DisplayClass()">Yellow</td>
                                <td><a href="javascript:void(0)">Toggle Status (On)</a></td>
                                <td><a href="javascript:void(0)">Edit</a></td>
                            </tr>
                            <tr>
                                <td class="@LightColor.Red.DisplayClass()">Red</td>
                                <td><a href="javascript:void(0)">Toggle Status (On)</a></td>
                                <td><a href="javascript:void(0)">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row text-right" style="padding-right: 15px; padding-bottom: 15px;">
                        <button class="btn btn-default"><i class="fa fa-plus"></i> Add Group</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="panel-heading-apps">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <a data-toggle="collapse"
                               data-parent="projects-panel"
                               href="#collapse-apps"
                               aria-expanded="true"
                               aria-controls="collapse-apps"
                               class="collapsed">
                                <i class="fa fa-plus-circle heading-icon"></i> Apps
                            </a>
                        </h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-default"><i class="fa fa-pencil"></i></button>
                    </div>
                </div>
            </div>
            <div id="collapse-apps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel-heading-apps" data-panelheading="panel-heading-apps">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td colspan="2" class="lead">Apps Near Window</td>
                                <td class="lead text-right"><button class="btn btn-default"><i class="fa fa-pencil"></i></button></td>
                            </tr>
                            <tr>
                                <th>Color</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="@LightColor.Green.DisplayClass()">Green</td>
                                <td><a href="javascript:void(0)">Toggle Status (On)</a></td>
                                <td><a href="javascript:void(0)">Edit</a></td>
                            </tr>
                            <tr>
                                <td class="@LightColor.Yellow.DisplayClass()">Yellow</td>
                                <td><a href="javascript:void(0)">Toggle Status (On)</a></td>
                                <td><a href="javascript:void(0)">Edit</a></td>
                            </tr>
                            <tr>
                                <td class="@LightColor.Red.DisplayClass()">Red</td>
                                <td><a href="javascript:void(0)">Toggle Status (On)</a></td>
                                <td><a href="javascript:void(0)">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row text-right" style="padding-right: 15px; padding-bottom: 15px;">
                        <button class="btn btn-default"><i class="fa fa-plus"></i> Add Group</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="panel-heading-unassigned">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <a data-toggle="collapse"
                               data-parent="projects-panel"
                               href="#collapse-unassigned"
                               aria-expanded="true"
                               aria-controls="collapse-unassigned"
                               class="collapsed">
                                <i class="fa fa-plus-circle heading-icon"></i> Unassigned
                            </a>
                        </h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-default"><i class="fa fa-pencil"></i></button>
                    </div>
                </div>
            </div>
            <div id="collapse-unassigned" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel-heading-unassigned" data-panelheading="panel-heading-unassigned">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Color</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="@LightColor.Green.DisplayClass()">Green</td>
                                <td><a href="javascript:void(0)">Toggle Status (On)</a></td>
                                <td><a href="javascript:void(0)">Edit</a></td>
                            </tr>
                            <tr>
                                <td class="@LightColor.Unknown.DisplayClass()">Unknown</td>
                                <td><a href="javascript:void(0)">Toggle Status (On)</a></td>
                                <td><a href="javascript:void(0)">Edit</a></td>
                            </tr>
                            <tr>
                                <td class="@LightColor.Unknown.DisplayClass()">Unknown</td>
                                <td><a href="javascript:void(0)">Toggle Status (On)</a></td>
                                <td><a href="javascript:void(0)">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-right" style="padding-bottom: 15px;">
    <button class="btn btn-default" data-toggle="modal" data-target="#add-project-modal"><i class="fa fa-plus"></i> Add Project</button>
</div>