@using ZBuildLights.Web.Extensions
@model ZBuildLights.Web.Models.Admin.AdminViewModel

@{
    ViewBag.Title = "ZBuildLights Admin";
    var projects = Model.Projects;
    var unassigned = Model.Unassigned;
}

@section scripts {
    <script>
        var urls = {
            addProject: '@Url.Action("AddProject")',
            deleteProject: '@Url.Action("DeleteProject")'
        };

        $(function() {
            //Expand / Collapse
            $('.collapse').on('show.bs.collapse', function() {
                var headingId = $(this).attr('data-panelheading');
                $('#' + headingId + ' .heading-icon').removeClass('fa-plus-circle').addClass('fa-minus-circle');
            });
            $('.collapse').on('hide.bs.collapse', function() {
                var headingId = $(this).attr('data-panelheading');
                $('#' + headingId + ' .heading-icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
            });

            function showAlert(message) {
                var template = $(document.getElementById('alert-template').innerHTML);
                template.find('[data-purpose="error-message"]').text(message);
                $('#alert-container').append(template);
            }

            function closeAlerts() {
                $('#alert-container').find('[data-purpose="error-alert"]').remove();
            }

            //New Project Modal
            $('#save-new-project').click(function() {
                closeAlerts();
                var spinner = $('#add-project-modal .wait-spinner');
                spinner.show();
                var input = $('#project-name-input').val();
                $.post(urls.addProject, { projectName: input })
                    .always(function() {
                        $('#add-project-modal').modal('hide');
                        spinner.hide();
                    })
                    .success(function() {
                        location.reload();
                    })
                    .fail(function(data) {
                        console.log('Failed to add project: ' + input);
                        showAlert(data.statusText);
                    });
            });

            //Edit Project
            $('.btn-edit-project').click(function() {
                var proejctId = $(this).attr('data-projectId');
                $('#edit-project-id').val(proejctId);
                $('#delete-confirm').hide();
                $('#edit-project-modal .wait-spinner').hide();

                $('#edit-project-modal').modal('show');
            });

            $('#delete-project-link').click(function() {
                $('#delete-confirm').show();
            });

            $('#delete-reject-button').click(function() {
                $('#delete-confirm').hide();
            });

            $('#delete-confirm-link').click(function() {
                var spinner = $('#edit-project-modal .wait-spinner');
                spinner.show();
                var projectId = $('#edit-project-id').val();
                $.post(urls.deleteProject, {projectId: projectId})
                    .always(function() {
                        $('#edit-project-modal').modal('hide');
                        spinner.hide();
                    })
                    .success(function() {
                        location.reload();
                    })
                    .fail(function(data) {
                        console.log('Failed to delete project: ' + projectId);
                        showAlert(data.statusText);
                    });
            });
        });
    </script>
    
    <script type="text/html" id="alert-template">
        <div class="alert alert-dismissable alert-danger" data-purpose="error-alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span data-purpose="error-message"></span>
        </div>
    </script>
    
    <div class="modal fade" id="add-project-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add New Project</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="project-name-input">Project Name</label>
                            <input type="text" class="form-control" id="project-name-input" placeholder="My Awesome Project"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <h3 class="wait-spinner" style="position: absolute; bottom: 10px; display: none"><i class="fa fa-spinner fa-spin"></i></h3>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                    <button id="save-new-project" type="button" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->        

    <div class="modal fade" id="edit-project-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Project</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <input type="hidden" id="edit-project-id"/>
                        <div class="form-group">
                            <label for="edit-project-name-input">Project Name</label>
                            <input type="text" class="form-control" id="edit-project-name-input" placeholder="My Awesome Project"/>
                        </div>
                    </form>
                    <div><a href="javascript:void(0)" id="delete-project-link"><p class="text-danger text-right">Delete Project</p></a></div>
                    <div id="delete-confirm" style="display: none;" class="well">
                        <button class="btn btn-primary btn-block" id="delete-reject-button">Noooooooooo.... Don't Delete</button>
                        <div style="padding-top: 10px" class="text-right">
                            <a href="javascript:void(0)" id="delete-confirm-link"><p class="text-danger">Yes, Delete Forever</p></a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <h3 class="wait-spinner" style="position: absolute; bottom: 10px; display: none"><i class="fa fa-spinner fa-spin"></i></h3>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                    <button id="save-new-project" type="button" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->        
}
<div class="row" id="alert-container">
</div>
<div class="row">
    <h2>Admin</h2>
    <p class="lead">Modify existing projects or add new lights</p>
</div>
<div class="row">
    @if (Model.NoProjects)
    {
        <h4>No Projects Added</h4>
    }
    <div class="panel-group" id="projects-panel" role="tablist" aria-multiselectable="true">
        @foreach (var project in projects)
        {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="@project.HeaderId">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <a data-toggle="collapse"
                                   data-parent="projects-panel"
                                   href="@project.PanelId.ToJqueryId()"
                                   aria-expanded="true"
                                   aria-controls="@project.PanelId"
                                   class="collapsed">
                                    <i class="fa fa-plus-circle heading-icon"></i> @project.Name
                                </a>
                            </h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-default btn-edit-project" data-projectId="@project.Id"><i class="fa fa-pencil"></i></button>
                        </div>
                    </div>
                </div>
                <div id="@project.PanelId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@project.HeaderId" data-panelheading="@project.HeaderId">
                    <div class="panel-body">
                        @foreach (var group in project.Groups)
                        {
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td colspan="2" class="lead">@group.Name</td>
                                        <td class="lead text-right"><button class="btn btn-default"><i class="fa fa-pencil"></i></button></td>
                                    </tr>
                                    <tr>
                                        <th>Color</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var light in group.Lights)
                                    {
                                        <tr>
                                            <td class="@light.Color.DisplayClass()">@light.Color.DisplayName</td>
                                            <td><a href="javascript:void(0)">Toggle Status (@light.SwitchState.ToString())</a></td>
                                            <td><a href="javascript:void(0)">Edit</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        <div class="row text-right" style="padding-right: 15px; padding-bottom: 15px;">
                            <button class="btn btn-default"><i class="fa fa-plus"></i> Add Group</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="panel-heading-unassigned">
                <div class="row">
                    <div class="col-md-12">
                        <h4>
                            <a data-toggle="collapse"
                               data-parent="projects-panel"
                               href="#collapse-unassigned"
                               aria-expanded="true"
                               aria-controls="collapse-unassigned"
                               class="collapsed">
                                <i class="fa fa-plus-circle heading-icon"></i> @unassigned.Name
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
            <div id="collapse-unassigned" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel-heading-unassigned" data-panelheading="panel-heading-unassigned">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Color</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var light in unassigned.Lights)
                            {
                                <tr>
                                    <td class="@light.Color.DisplayClass()">@light.Color.DisplayName</td>
                                    <td><a href="javascript:void(0)">Toggle Status (@light.SwitchState.ToString())</a></td>
                                    <td><a href="javascript:void(0)">Edit</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-right" style="padding-bottom: 15px;">
    <button class="btn btn-default" data-toggle="modal" data-target="#add-project-modal"><i class="fa fa-plus"></i> Add Project</button>
</div>